.no-js .top-bar {
    display: none;
}

@media screen and (min-width: 40em) {
    .no-js .top-bar {
        display: block;
    }

    .no-js .title-bar {
        display: none;
    }
}

html, body {
    font-family: "Georgia", "Times", "Times New Roman", serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Gill Sans", "Arial", sans-serif;
}

a {
    color: #007f7a
}

a:hover, a:visited {
    color: #007c97
}

.top-bar, .top-bar ul {
    background-color: #ffd520;
}

.menu > li > a {
    color: black;
}

.menu > li > a:hover {
    color: #007f7a;
}

.button.primary {
    background-color: #cceff4;
    color: black;
}

.button.secondary {
    background-color: #ededed;
    color: black;
}

.button.alert {
    background-color: #e30438;
    color: white;
}