.mdl-layout {
    align-items: center;
    justify-content: center;
}

.mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}

.mdl-layout__header {
    background-color: #FFD520;
}

.mdl-card__media {
    background-color: #6AC4AE;
}

.mdl-color--primary {
    background-color: #FFD520 !important;
}

.mdl-button--accent {
    background-color: #6AC4AE !important;
}

.mdl-button--colored {
    background-color: #FFD520 !important;
}

.mdl-textfield__label:after {
    background-color: #6AC4AE !important;
}

.docs-footer.mdl-mini-footer {
    position: relative;
    height: 90px;
    margin-top: 15%;
    bottom: 0;
    padding: 24px;
}

.login-container {
    padding: 24px;
    flex: none;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-right-5 {
    margin-left: 5px;
}

.previewUL {
    list-style-type: none;
}

.modal {
    overflow-x: visible;
    overflow-y: visible;
    position: absolute;
}

.modal__dialog {
    width: 600px;
}

button[disabled=disabled], button:disabled {
    background-color: #B2B2B2 !important;
}

.padding5 {
    padding: 5px;
}

.padding20 {
    padding: 20px;
}

.hide-me {
    display: none;
    visibility: hidden;
}

.center {
    max-width: 980px;
}

.height100 {
    height: 100px;
    min-height: 100px;
}

.mdl-data-table {
    font-size: 16px;
}

.mdl-data-table__cell--non-numeric {
    font-size: 16px;
}

th.mdl-data-table__cell--non-numeric {
    font-size: 16px;
}

.mdl-textfield__input {
    border-bottom: 2px solid black;
    font-size: 20px;
}

.fontBigger {
    font-size: 19px;
    line-height: 24px;
}

.fontBiggerButton {
    font-size: 19px;
}

a {
    color: #007f7a;
}

a:visited {
    color: #007c97;
}

.highlight-me {
    background-color: #cceff4;
}

/* Dialog */
.mdl-snackbar {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-right: -50%;
    cursor: default;
    background-color: #323232;
    z-index: 10000;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    will-change: transform;
    -webkit-transform: translate(0, 80px);
    transform: translate(0, 80px);
    transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 1, 1);
    transition: transform 0.25s cubic-bezier(0.4, 0, 1, 1);
    transition: transform 0.25s cubic-bezier(0.4, 0, 1, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0, 1, 1);
    pointer-events: none; }
@media (max-width: 479px) {
    .mdl-snackbar {
        width: 100%;
        left: 0;
        min-height: 48px;
        max-height: 80px; } }
@media (min-width: 480px) {
    .mdl-snackbar {
        min-width: 288px;
        max-width: 568px;
        border-radius: 2px; } }
.mdl-snackbar--active {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    pointer-events: auto;
    transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
    transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1);
    transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1); }
.mdl-snackbar__text {
    padding: 14px 24px;
    vertical-align: middle;
    color: white; }
.mdl-snackbar__action {
    background: transparent;
    border: none;
    color: rgb(255,64,129);
    text-transform: uppercase;
    padding: 14px 24px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0;
    overflow: hidden;
    outline: none;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    vertical-align: middle; }
.mdl-snackbar__action::-moz-focus-inner {
    border: 0; }
.mdl-snackbar__action:not([aria-hidden]) {
    opacity: 1;
    pointer-events: auto; }

/* TOOLTIP */
.mdl-tooltip {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: top center;
    transform-origin: top center;
    will-change: transform;
    z-index: 999;
    background: rgba(97,97,97, 0.9);
    border-radius: 2px;
    color: rgb(255,255,255);
    display: inline-block;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    max-width: 170px;
    position: fixed;
    top: -500px;
    left: -500px;
    padding: 8px;
    text-align: center; }

.mdl-tooltip.is-active {
    -webkit-animation: pulse 200ms cubic-bezier(0, 0, 0.2, 1) forwards;
    animation: pulse 200ms cubic-bezier(0, 0, 0.2, 1) forwards; }

.mdl-tooltip--large {
    line-height: 14px;
    font-size: 14px;
    padding: 16px; }

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0; }
    50% {
        -webkit-transform: scale(0.99);
        transform: scale(0.99); }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        visibility: visible; } }

@keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0; }
    50% {
        -webkit-transform: scale(0.99);
        transform: scale(0.99); }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        visibility: visible; } }

/** MODAL **/

#modalPreview {
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
}

.warningColor {
    color: #e30438
}

#watermark {
    position: absolute;
    z-index: 2000;
}

.mdl-card--border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.fullWidth {
    width: 100%;
}

.logo {
    width: 3rem;
    height: auto;
    vertical-align: middle;
    margin-right: 0.8rem;
    display: inline-block;
}